<!DOCTYPE html>
<html lang="en" >
<head>
    <meta charset="UTF-8">
    <title>Title</title>
<!--    <link rel="stylesheet" href="../static/css/index.css">-->
<!--    <style>-->
<!--        body{-->
<!--            background-color: #d3959b;-->
<!--        }-->
<!--    </style>-->
<!--    <script>-->
<!--        function getData(){-->
<!--            var content1=document.getElementById("jiashux");-->
<!--            var content2=document.getElementById("jiashuy");-->
<!--            var sum=Number(content1.value)+Number(content2.value);-->
<!--            alert("求和得:"+sum)-->
<!--        }-->
<!--    </script>-->
</head>
<body>
<form action="/register">
请输入数据：<input name="textx">
    请输入数据：<input name="texty">
<button type="submit">开始分析</button>
</form>


</body>
</html>
